.about-container {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
  padding-top: 10%;
  background: rgb(212, 208, 208);
  display: flex;
  flex-direction: column;
  height: 100%;

  .about-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
  }

  .about-title::before,
  .about-title::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
  }

  .about-title::before {
    margin-right: 10px;
  }

  .about-title::after {
    margin-left: 10px;
  }

  .about-contents {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;

    p {
      text-align: start;
      text-wrap: wrap;
    }

    img {
      width: 350px;
      height: 350px;
    }
  }
}

@media screen and (max-width: 932px) {
  .about-container {
    height: 100%;

    .about-contents {
      margin-bottom: 50px;
      img {
        display: none;
      }
    }
  }
}
